@import url(http://fonts.googleapis.com/css?family=Raleway:500,400,300);
/* fonts available : 500,400italic,400 */
/****************************************** menu attributes */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Raleway', Segoe UI, 'Raleway', sans-serif !important;
  font-weight: 100; }

body {
  background: -webkit-linear-gradient(#dcdcdc, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dcdcdc, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dcdcdc, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dcdcdc, #ffffff);
  /* Standard syntax */ }

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit; }

.container {
  display: block;
  width: 980px;
  margin: 0 auto;
  background-color: white; }

.header {
  display: block;
  color: #333333;
  background-color: #fff; }
  .header img {
    display: inline-block;
    position: relative;
    width: 50%; }
  .header .ece_head {
    height: 30px;
    background-color: white;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    padding: 30px;
    width: 40%;
    float: right; }
    .header .ece_head span {
      font-size: 15px;
      font-weight: 800; }
    .header .ece_head span:nth-of-type(1) {
      color: #333333; }
    .header .ece_head span:nth-of-type(2) {
      color: #4D4D4D; }
    .header .ece_head span:nth-of-type(3) {
      color: #666666; }
    .header .ece_head span:nth-of-type(4) {
      color: #808080; }
    .header .ece_head span:nth-of-type(5) {
      color: #3FADA8; }

.menu {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #3FADA8; }

.menu > ul {
  cursor: context-menu; }

.menu > ul > li {
  padding: 5px 0;
  margin: 1px 0px;
  display: inline-block;
  width: 20%;
  /*height:40px;
        vertical-align: middle;*/
  font-size: 16px;
  text-align: center;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px; }

.menu > ul > li > a {
  position: relative;
  display: block;
  width: auto;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px;
  /*line-height: 40px;*/ }

.menu > ul > li:nth-child(n+1) {
  color: white;
  margin-bottom: 0; }

/*DROP DOWN */
.menu > ul > li > ul {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  position: absolute;
  margin-top: 5px;
  z-index: 50;
  padding: 4px 0px;
  border-bottom: 1px solid #3FADA8;
  border-left: 1px solid #3FADA8;
  border-right: 1px solid #3FADA8; }
  .menu > ul > li > ul li {
    margin: 5px 10px;
    width: 180px;
    box-shadow: none;
    text-align: center; }
    .menu > ul > li > ul li a {
      font-size: 12px;
      font-weight: 800;
      color: white;
      font-size: 11px;
      white-space: nowrap;
      /*removed the overlapping of group names*/ }

.menu > ul > li:hover > ul {
  display: block; }

.menu > ul li:hover > a {
  color: #3FADA8; }

.menu2 {
  margin-top: 10px;
  width: 60%;
  background-color: white;
  margin: 0 auto; }

.menu2 > ul {
  cursor: context-menu; }

.menu2 > ul > li {
  padding: 5px 0;
  margin: 1px 0px;
  display: inline-block;
  width: 25%;
  /*height:40px;
        vertical-align: middle;*/
  font-size: 16px;
  text-align: center;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px; }

.menu2 > ul > li > a {
  position: relative;
  display: block;
  width: auto;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px;
  /*line-height: 40px;*/ }

.theBody {
  cursor: context-menu;
  width: 100%;
  background-color: #fff;
  padding: 0; }

.research_group_title {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #666666; }

.theBodyDiv {
  display: inline-block;
  text-align: center;
  box-shadow: 0px 1px 5px 0px #666666;
  -webkit-box-shadow: 0px 1px 5px 0px #666666;
  -moz-box-shadow: 0px 1px 5px 0px #666666;
  -ms-box-shadow: 0px 1px 5px 0px #666666;
  width: 100%; }

.theBodyDiv > div:nth-of-type(1) {
  display: block;
  height: 40px;
  background-color: #3FADA8;
  width: 100%;
  line-height: 40px;
  font-weight: 500;
  color: white;
  padding: 5px 0; }

.theBodyDiv > div:nth-of-type(2) {
  display: block;
  min-height: 40px;
  background-color: white;
  width: 100%;
  font-weight: 500;
  color: black; }

.infoBlock {
  /*border-top: 1px solid $i4;*/
  position: relative;
  width: 100%;
  display: block;
  vertical-align: top; }

.footer {
  margin-top: 10px;
  display: block;
  border-top: 1px solid #808080;
  height: 90px;
  background-color: #3FADA8; }

.longBar:first-of-type {
  width: 100%;
  height: 25px;
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #d1d9de; }

.longBar:last-of-type {
  width: 100%;
  height: 25px;
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #d1d9de; }

.orderedList {
  width: 95%;
  margin: 0 auto;
  list-style-type: decimal; }
  .orderedList li {
    font-size: 15px;
    padding: 5px 10px;
    text-align: left;
    box-shadow: 0px 1px 2px 0px #ccc;
    -webkit-box-shadow: 0px 1px 2px 0px #ccc;
    -moz-box-shadow: 0px 1px 2px 0px #ccc;
    -ms-box-shadow: 0px 1px 2px 0px #ccc; }

/*# sourceMappingURL=stylesheet_pub.css.map */