{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="lifecodemohit">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'Slider/slider_stylesheet.css' %}" />
    <script src="/static/Slider/responsiveslides.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
            $("#slider1").responsiveSlides({
                auto: true,
                pager: true,
                nav: true,
                speed: 500,
                namespace: "centered-btns"
            });
        });
    </script>
    <title>ECE Research Group Website</title>
</head>
<body>

    <div class="searchbar">
    </div>
    <div class="container">
        <div class="header">
            <img src="/static/iiitdlogo.jpg" width="50%"style="margin-left:2%; margin-top:1%"/>
        </div>
        <div class="header1">
                <ul class="headlist">
                    <li><a class="headlink" href="">HOME</a></li>
                    <div class="sepra">|</div>
                    <li><a class="headlink" href="" onmouseover="document.getElementById('dropbox1').style.visibility = 'visible';" onmouseout="document.getElementById('dropbox1').style.visibility = 'hidden';">ABOUT</a><br><br>
                        <div onmouseover="document.getElementById('dropbox1').style.visibility = 'visible';" onmouseout="document.getElementById('dropbox1').style.visibility = 'hidden';" id="dropbox1">

                            <div class="submen11"><pre>    <a href="" class="sublink">Biomedical Technologies</a>    </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen12"><pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen">  <pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen">  <pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen">  <pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                        </div>
                    </li>
                    <div class="sepra" style="margin-left:-13.6em;">|</div>
                    <li><a class="headlink" href="" style="margin-left:-20.8em;" onmouseover="document.getElementById('dropbox2').style.visibility = 'visible';" onmouseout="document.getElementById('dropbox2').style.visibility = 'hidden';">CONTACT</a><br><br>
                        <div style="margin-left:-23em;" onmouseover="document.getElementById('dropbox2').style.visibility = 'visible';" onmouseout="document.getElementById('dropbox2').style.visibility = 'hidden';" id="dropbox2">

                            <div class="submen11"><pre>    <a href="" class="sublink">Biomedical Technologies</a>    </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen12"><pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                            <div class="submen">  <pre>    <a href="" class="sublink">Communication System</a>       </pre><hr style="border-top: dotted 0.5px;"></div>
                        </div>

                    </li>
                </ul>
        </div>
        <div class="rslides_container" class="slider" id="home">
            <ul class="rslides" id="slider1">
                <li><img src="/static/Slider/1.jpg" alt=""></li>
                <li><img src="/static/Slider/2.jpg" alt=""></li>
                <li><img src="/static/Slider/3.jpg" alt=""></li>
                <li><img src="/static/Slider/4.jpg" alt=""></li>
            </ul>
        </div>
        <div class="middlepart">
            <div class="section1">
                <p class="sec">Connect with Students</p>
                <p class="sectext">Our student ambassadors are available to help you make your transition to ECE as smooth as possible. Learn more about the exciting work they are involved in, their interests and activities outside of school.</p>
                <br><br><br><br><br>
                <embed  width="275px" height="165" style="margin-left:5px;"
                            src="http://www.youtube.com/v/XGSy3_Czz8k"
                            type="application/x-shockwave-flash">
            </div>
            <div class="section2">
                <p class="sec">Latest News</p>
                <p class="sectext">
                    {% if latest_news_list %}
                        <ul>
                        {% for news in latest_news_list %}
                            <a href="research/news/{{ news.id }}/">{{ news.heading }}</a>
                            <p>{{ news.category }}</p>
                            <p>{{ news.pub_date }}</p>
                            <p>{{ news.main_text }}</p>
                            <div class="line"></div>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No recent news are available.</p>
                    {% endif %}
                </p>
            </div>
            <div class="section3">
                <p class="sec">Upcoming Events</p>
                <p class="sectext">
                    {% if latest_news_list %}
                        <ul>
                        {% for news in latest_news_list %}
                            <a href="research/news/{{ news.id }}/">{{ news.heading }}</a>
                            <p>{{ news.category }}</p>
                            <p>{{ news.pub_date }}</p>
                            <p>{{ news.main_text }}</p>
                            <div class="line"></div>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <p>No recent news are available.</p>
                    {% endif %}
                </p>
            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="footer">
            <div class="upperfooter">
                <p class="upheader">Latest Publications :</p>
            </div>
        </div>
    </div>
    <div class="largefooter">
        
    </div>
</body>
</html>