{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" type="text/css" href="{% static 'lab/css/stylesheet_pub.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'lab/css/slider_stylesheet.css' %}">

    <title>ECE Research Group Website</title>
</head>
<body style="overflow-x:hidden;">
        <div class = "longBar"></div>
        <div class = "container" style="box-shadow: 0px 1px 5px 0px #666666;">


        <div class="header">

            <div class="ece_head"><span>Electronics</span><span> and</span><span> Communication </span><span>Engineering</span><span> Department</span>
            </div>
        </div>

        <div class="theBody">
            <div class="upperBlock">

                <div class="research_group_title" style="margin-top:20px;font-weight:800">{% autoescape off %}{{cLab.lab_name}}{% endautoescape %}</div>
                <div class="menu2">
                    <!-- second menu -->
                    <ul>
               <li><a href="/lab/{{cLabMem.lab_code}}">About</a>
    </li>
    <li><a href="members">Members</a>
    </li>
    <li><a href="research">Research</a>
    </li>
    <li><a href="#">Publications</a>
    </li>


                    </ul>
                </div>
                <div class="infoBlock">

                    <div class="theBodyDiv">
                        <div>Publications</div>
                        <ul class="orderedList">
			{% for pub in cLabMem.labpublication_set.all %}
                            <li class="pubBox"> {% autoescape off %}{{pub.lpub_about}}{% endautoescape %} <a href="{{pub.lpub_pdf}}" style="color:blue;"> PDF</a></li>
			{% endfor %}
                        </ul>

                    </div>
                </div>

            </div>

            <div class = "footer" style="height:40px;margin-top:1px"></div>
            </div>
            </div>
         <div class = "longBar" style="height:27px;font-size:13px;color:#585858;font-weight:550"> <p style="margin-left:480px;padding-top:5px;">Designed and maintained by : <a href="">Atul Jain</a> and <a href="">Mohit Wadhwa</a></p></div>



    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <script src="/static/lab/js/jQuery.js"></script>
    <script src="/static/lab/js/myJs.js"></script>
    <script src="/static/lab/js/responsiveslides.min.js"></script>

</body>

</html>
