{% load static %}
<html>

<head>
    <title>ECE Research Group</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="{% static 'allNews/css/stylesheet2.css' %}">-->
    <link rel="stylesheet" type="text/css" href="{% static 'allNews/css/stylesheet2.css' %}">

</head>

<body  style="overflow-x:hidden;">
    <div class="longBar"></div>
    <div class="container" style="box-shadow: 0px 1px 5px 0px #666666;">

        <div class="header">
            <img src="/static/logo/long_min_iiitd_colors.png" alt="IIITD">
            <div class="ece_head"><span>Electronics</span><span> and</span><span> Communication </span><span>Engineering</span><span> Department</span>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li><a href="#" tabindex="1">Home</a>
                </li><li><a href="#" tabindex="2">Research</a>
                    <ul>
                        <li><a href="#"><span>Research  1</span></a>
                        </li>
                        <br>
                        <li><a href="#"><span>Research Group 2</span></a>
                        </li>
                        <br>
                        <li><a href="#"><span>Research Group 3</span></a>
                        </li>
                        <br>
                        <li><a href="#"><span>Research Group 4</span></a>
                        </li>
                    </ul>
                </li><li><a href="#" tabindex="3">Publications</a>
                </li><li><a href="#" tabindex="4">People</a>
                    <ul>
                        <li><a href="#" tabindex="5"><span>Faculty</span></a>
                        </li>
                    </ul>
                </li><li><a href="">About</a>
                </li>

            </ul>
        </div>
        <div class="theBody">
            <div class="upperBlock">
                <div class="research_group_title" style="color:rgba(0,0,0,0.8);font-weight:700;margin-top:-20px;text-align:center">News</div>
            </div>

            <div class="infoBlock">

                <ul class="newsUL">
		{% for news in news_list %}
                <li>
		    <div class="dateLine" >{{news.pub_date}}</div>
                    <a href="{{ news.id }}" style="margin-top:-1px">{{news.heading}}</a>
                    <span>{{news.main_text}}</span>
                    </li>
		{% endfor %}
                </ul>

            </div>

        </div>

       <div class = "footer" style="height:40px"></div>
            </div>
         <div class = "longBar" style="height:27px;font-size:13px;color:#585858;font-weight:550"> <p style="margin-left:480px;padding-top:5px;">Designed and maintained by : <a href="">Atul Jain</a> and <a href="">Mohit Wadhwa</a></p></div>


    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>-->
    <script src="/static/allFacPage/js/jQuery.js"></script>

</body>

</html>




<!--{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ECE Research Group Website</title>
</head>
<body>
	<h1>Hello World.....</h1>
	{% if news_list %}
    <ul>
    {% for news in news_list %}
    	<a href="{{ news.id }}/">{{ news.heading }}</a>
        <p>{{ news.category }}</p>
        <p>{{ news.pub_date }}</p>
        <p>{{ news.main_text }}</p>
    {% endfor %}
    </ul>
	{% else %}
	    <p>No recent news are available.</p>
	{% endif %}
</body>
</html>!-->

