{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ECE Research Group Website</title>
</head>
<body>
	<h1>Hello World.....</h1>
	{% if publication_list %}
    <ul>
    {% for publication in publication_list %}
    	<p>{{ publication.pubDetail }}</p>
    {% endfor %}
    </ul>
	{% else %}
	    <p>No publication are available.</p>
	{% endif %}
</body>
</html>