/****************************************** menu attributes */
/* line 40, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
* {
  padding: 0;
  margin: 0;
  border: none;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  font-weight: 100;
  list-style: none; }

/* line 49, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
body {
  background: -webkit-linear-gradient(#dcdcdc, #ffffff);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#dcdcdc, #ffffff);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#dcdcdc, #ffffff);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#dcdcdc, #ffffff);
  /* Standard syntax */ }

/* line 58, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-family: inherit; }

/* line 59, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.container {
  display: block;
  width: 980px;
  margin: 0 auto;
  background-color: white; }

/* line 65, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.header {
  display: block;
  color: #333333;
  background-color: #fff; }

/* line 72, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.ece_head {
  height: 30px;
  background-color: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-align: right;
  padding: 30px;
  width: 40%;
  float: right; }
  /* line 86, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span {
    font-size: 15px;
    font-weight: 800; }
  /* line 87, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span:nth-of-type(1) {
    color: #333333; }
  /* line 88, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span:nth-of-type(2) {
    color: #4D4D4D; }
  /* line 89, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span:nth-of-type(3) {
    color: #666666; }
  /* line 90, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span:nth-of-type(4) {
    color: #808080; }
  /* line 91, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .ece_head span:nth-of-type(5) {
    color: #3FADA8; }

/* line 98, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu {
  margin-top: 10px;
  width: 100%;
  background-color: white;
  clear: both;
  margin-bottom: 10px; }

/* line 109, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul {
  cursor: context-menu; }

/* line 115, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul > li {
  padding: 5px 0;
  margin: 1px 0px;
  display: inline-block;
  width: 20%;
  /*height:40px;
        vertical-align: middle;*/
  font-size: 16px;
  text-align: center;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px; }

/* line 132, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul > li > a {
  position: relative;
  display: block;
  width: auto;
  color: #4D4D4D;
  font-weight: 600;
  font-size: 13px;
  /*line-height: 40px;*/ }

/* line 134, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul > li:nth-child(n+1) {
  color: white;
  margin-bottom: 0; }

/*DROP DOWN */
/* line 141, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul > li > ul {
  background-color: rgba(0, 0, 0, 0.65);
  display: none;
  position: absolute;
  margin-top: 5px;
  z-index: 50;
  padding: 4px 0px;
  border-bottom: 1px solid #3FADA8;
  border-left: 1px solid #3FADA8;
  border-right: 1px solid #3FADA8; }
  /* line 154, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .menu > ul > li > ul li {
    margin: 5px 10px;
    width: 180px;
    box-shadow: none;
    text-align: center; }
    /* line 160, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
    .menu > ul > li > ul li a {
      font-size: 12px;
      font-weight: 800;
      color: white;
      font-size: 11px;
      white-space: nowrap;
      /*removed the overlapping of group names*/ }

/* line 174, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul > li:hover > ul {
  display: block; }

/* line 176, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.menu > ul li:hover > a {
  color: #3FADA8; }

/* line 190, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.theBody {
  cursor: context-menu;
  width: 100%;
  background-color: #fff;
  padding: 0; }

/* line 201, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.research_group_title {
  padding: 20px 0;
  width: 50%;
  margin-left: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #666666; }

/* line 216, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.about {
  margin-right: 20px;
  display: block;
  text-align: center;
  box-shadow: 0px 1px 5px 0px #666666;
  -webkit-box-shadow: 0px 1px 5px 0px #666666;
  -moz-box-shadow: 0px 1px 5px 0px #666666;
  -ms-box-shadow: 0px 1px 5px 0px #666666;
  width: 32%;
  display: inline-block; }
  /* line 226, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .about div:nth-of-type(1) {
    display: block;
    height: 40px;
    background-color: #3FADA8;
    width: 100%;
    line-height: 40px;
    font-weight: 500;
    color: white;
    padding: 5px 0; }
  /* line 236, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .about .aboutContent {
    padding: 10px 10px !important;
    text-align: justify;
    height: auto;
    display: table-cell;
    font-size: 12px;
    font-weight: 400;
    vertical-align: middle;
    width: 50%;
    padding: 10px 20px;
    height: auto; }
    /* line 239, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
    .about .aboutContent img {
      box-shadow: -1px 1px 1px 1px #808080;
      -webkit-box-shadow: -1px 1px 1px 1px #808080;
      -moz-box-shadow: -1px 1px 1px 1px #808080;
      -ms-box-shadow: -1px 1px 1px 1px #808080;
      position: relative;
      display: block;
      margin: 0 auto;
      width: 90%;
      height: 200px;
      margin-bottom: 10px; }

/* line 262, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.infoBlock {
  /*border-top: 1px solid $i4;*/
  position: relative;
  width: 63%;
  margin-left: 20px;
  display: block;
  display: inline-block;
  vertical-align: top; }

/* line 271, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.infoBlock > ul {
  width: 100%; }

/* line 272, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.listLevel1 > li {
  box-shadow: 0px 1px 5px 0px #666666;
  -webkit-box-shadow: 0px 1px 5px 0px #666666;
  -moz-box-shadow: 0px 1px 5px 0px #666666;
  -ms-box-shadow: 0px 1px 5px 0px #666666;
  display: block;
  width: 100%;
  font-size: 16px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  font-weight: 500;
  color: white; }
  /* line 283, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li div:nth-child(1) {
    padding: 5px 0;
    display: block;
    height: 40px;
    background-color: #3FADA8;
    width: 100%;
    line-height: 40px;
    font-weight: 500; }
  /* line 293, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li div:nth-child(1) > a:hover {
    text-decoration: underline; }
  /* line 295, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li div:nth-of-type(2) {
    position: relative;
    width: 100%;
    min-height: 250px;
    display: block;
    width: 100%; }

/* line 305, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.listLevel1 > li:first-of-type > div:nth-of-type(2) > ul > li:nth-of-type(n+2) {
  box-shadow: 0px -1px 0px 0px #ffefff;
  -webkit-box-shadow: 0px -1px 0px 0px #ffefff;
  -moz-box-shadow: 0px -1px 0px 0px #ffefff;
  -ms-box-shadow: 0px -1px 0px 0px #ffefff; }

/* line 307, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.listLevel1 > li:first-of-type > div:nth-of-type(2) > ul > li > ul {
  width: 92%;
  padding: 0 10px; }
  /* line 313, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li:first-of-type > div:nth-of-type(2) > ul > li > ul li:nth-of-type(1) {
    width: 100%;
    font-size: 14px;
    font-weight: 500;
    color: #3FADA8;
    margin: 0; }
  /* line 321, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li:first-of-type > div:nth-of-type(2) > ul > li > ul li:nth-of-type(1):hover {
    text-decoration: underline; }
  /* line 322, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
  .listLevel1 > li:first-of-type > div:nth-of-type(2) > ul > li > ul li:nth-of-type(2) {
    width: 100%;
    position: relative;
    margin: 0;
    font-size: 13px;
    font-weight: 400; }

/* line 337, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.box1 li {
  position: relative;
  width: 100%;
  text-align: left;
  font-size: 13px;
  font-weight: 400;
  color: #000;
  margin: 10px 0; }

/* line 354, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.people_left {
  text-align: left;
  width: 25%;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  color: #3FADA8;
  margin-top: 10px;
  white-space: nowrap;
  vertical-align: top; }

/* line 366, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.people_right {
  text-align: left;
  width: 15%;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  margin-top: 10px;
  color: black;
  white-space: nowrap;
  vertical-align: top; }

/* line 377, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.labsListeItem {
  margin-left: 10px;
  margin-top: 10px;
  text-align: justify;
  width: 55%;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  color: black;
  height: auto;
  vertical-align: top; }

/* line 389, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.labsListeItem:last-of-type {
  margin-bottom: 20px; }

/* line 390, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.labsListeItem > a {
  display: block;
  text-align: left;
  white-space: break-word;
  width: 100%;
  margin: 0 auto; }

/* line 398, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.labsListeItem > a:hover {
  text-decoration: underline; }

/* line 400, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.footer {
  margin-top: 10px;
  display: block;
  border-top: 1px solid #808080;
  height: 90px;
  background-color: #3FADA8; }

/* line 408, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.longBar {
  min-width: 960px;
  width: 100%;
  height: 25px; }

/* line 413, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.longBar:first-of-type {
  box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #d1d9de; }

/* line 418, /home/atul/Documents/web/ece/gitRepo/ece/static/researchPage/css/stylesheet2.scss */
.longBar:last-of-type {
  box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  -ms-box-shadow: 0 -1px 1px 0px rgba(0, 0, 0, 0.3);
  background-color: #d1d9de; }

/*# sourceMappingURL=stylesheet2.css.map */
